
{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
<div class="container">
    {% if current_steam_id %}

        <!-- Update SteamID -->
        <h2 class="text-accent">Current Steam ID: {{ current_steam_id }}</h2>
        <form action="/profile" method="POST" onsubmit="return confirm('Add Steam games to Game Library and remove old SteamIDs games? After 30 days they will be fully removed');">
            <input class="input" id="update_steam_id64" name="steam_id64" placeholder="Change SteamID" type="text" required>
            <button class="btn" type="submit" name="action" value="update">Update SteamID</button>
        </form>

        <!-- Restore previous SteamID information -->
        <button class="btn-secondary" id="undoButton">Undo</button>
        <div class="modal" id="undoModal">
            <form method="POST" action="/profile" onsubmit="return confirm('Restore previous SteamID?');">
                <input type="hidden" name="action" value="undo">
                <label for="undo_steam_id64">SteamID to Restore:</label>
                <input class="input" type="text" id="undo_steam_id64" name="steam_id64" required><br>
                
                <button class="btn" type="submit">Submit</button>
                <button class="btn-danger" type="button" onclick="closeModal()">Cancel</button>
            </form>
        </div>
    {% else %}

        <!-- Add SteamID -->
        <form action="/profile" method="POST" onsubmit="return confirm('Add Steam games to Game Library?');">
            <input class="input" name="steam_id64" placeholder="Enter SteamID64" type="text" required>
            <button class="btn" type="submit" name="action" value="add">Add SteamID</button>
        </form>
    {% endif %}
    
    <!-- Change password -->
    <button class="btn-secondary" id="passwordButton">Change Password</button>
    <div class="modal" id="passwordModal">
        <form method="POST" action="/profile">
            <input type="hidden" name="action" value="change_password">
            <label for="new_password">New Password:</label>
            <input class="input" type="password" id="new_password" name="new_password" required>

            <label for="confirm_password">Confirm Password:</label>
            <input class="input" type="password" id="confirm_password" name="confirm_password" required>

            <label for="current_password">Original Password:</label>
            <input class="input" type="password" id="current_password" name="current_password" required>
            
            <button class="btn" type="submit">Submit</button>
            <button class="btn-danger" type="button" onclick="closeModal()">Cancel</button>
        </form>
    </div>

    <!-- Delete game data from DB -->
    <form action="/profile" method="POST" onsubmit="return confirm('Are you sure you want to delete game data? After 30 days they will be fully removed');">
        <button class="btn-warning" type="submit" name="action" value="delete_library">Delete Game Library</button>
    </form>
    <form action="/profile" method="POST">
        <button class="btn" type="submit" name="action" value="undo_delete_library">Undo</button>
    </form>
    
    <!-- Delete account and game data -->
    <form action="/profile" method="POST" onsubmit="return confirm('Are you sure you want to delete your account? You will not be able to undo this action');">
        <button class="btn-danger" type="submit" name="action" value="delete_account">Delete Account</button>
    </form>
</div>

<div id="modalOverlay"></div>
<script src="{{ url_for('static', filename='scripts/profile.js') }}"></script>
{% endblock %}
